VITE_APP_NAME=Coddy
# local/dev/production
VITE_APP_ENV=local
# backend API
# local/dev : http://localhost:8765/api
# production: /api
VITE_API_BASE_URL=http://localhost:8765/api
VITE_GOOGLE_AUTH_ENABLED=false